 <div class="contact-view">
	<zs-message-list
		messages="vm.getMessages()"
	></zs-message-list>

	<div class="contact-body" ng-class="{ loading: vm.isLoading() }">
	
		<!-- need a weird workaround to prevent animation on page load -->
		<div
			class="contact-sidebar ng-hide" 
			ng-class="{ shadow: !vm.isSummary() }"
			ng-show="true"
		>

			<div class="contact-sidebar-inner">

				<zs-contact-summary
					data-subject="vm.getSubject()"
					is-collapsed="vm.isSidebarCollapsed()"
				>
				</zs-contact-summary>

				<zs-contact-navigation
					data-subject="vm.getSubject()"
					is-collapsed="vm.isSidebarCollapsed()"
				>
				</zs-contact-navigation>

			</div>

		</div>

		<div
			class="contact-inner-view-container"
			ng-class="{'summary': vm.isSummary() }"
		>
			<ui-view class="contact-inner-view"></ui-view>
		</div>
		
	</div>

</div>

<zs-spinner class="view-spinner" is-loading="vm.isLoading()"></zs-spinner>

