<meeting-list-item
	ng-repeat="proposal in proposalsListView.getProposals() track by proposal.$id"
	data-meeting="proposal"
	on-toggle-expand="proposalsListView.handleToggle(proposal.id)"
	is-expanded="proposalsListView.isExpanded(proposal.id)"
	is-grouped="proposalsListView.isGrouped()"
	app-config="proposalsListView.appConfig()"
>
</meeting-list-item>

<div class="button-container">
	<button 
		ng-click="proposalsListView.loadMore()" 
		class="btn btn-secondary"
		ng-if="proposalsListView.isMoreAvailable()"
	>
		<zs-spinner is-loading="proposalsListView.isLoading()" class="spinner-tiny"></zs-spinner>
		Laad meer zaken
	</button>
</div>

<div class="meeting-list__empty" ng-show="!proposalsListView.getProposals().length&&!proposalsListView.isLoading()">
	Er zijn geen voorstellen die voldoen aan de voorwaarden.
</div>
