<a href="[% c.set_referer(c.req.referer) %]" title="Inloggen" class="button"
  >
  <input type="button" value="Inloggen" class="button button-secondary">
</a>
<a href="[% c.uri_for('/auth/twofactor/lost_password/') %]"
   title="Wachtwoord vergeten?"
   class="button"
   >
  <input
    type="button"
    value="Wachtwoord vergeten?"
    class="button button-secondary"
  >
</a>

<button
  type="submit"
  name="account-creation"
  value="Account aanmaken"
  class="button button-primary">
  <span class="a">Account aanmaken</span>
</button>
