/* RESET */
@import "../../../shared/styles/index";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

mor-app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: white;
	width: 100%;
}

.scroll-container {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
}

.ftscroller_container {
	display: flex;
	flex: 1 0 auto;
	flex-flow: column;
}

.ftscroller_x,
.ftscroller_y {
	display: flex;
	width: 200%;
	min-height: 100%;
	flex-grow: 1;
}

.view-placeholder,
ui-view {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

.view-placeholder {
	&.view-placeholder-loader {
		padding-top: 20px;
		justify-content: center;
	}
}

.body-scroll-container .zs-modal-body{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}


/**************

View Animations

***************/

@keyframes detail-modal-in {
	0%, 50% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes detail-modal-out {
	0% { transform: translateX(0); }
	50%, 100% { transform: translateX(100%); }
}

@keyframes view-in {
	0%, 50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}

}

@keyframes view-out {
	0% {
		opacity: 1;
	}
	50%, 100% {
		opacity: 0.5;
	}
}
