<div id="categorie_edit">
<form method="POST" class="zvalidate" action="[% c.uri_for('/') _ 'beheer/bibliotheek/categorie/' _ bibliotheek_categorie_id _ '/bewerken/' _ pid  %]">
<input type="hidden" name="update" value="1">
<table cellspacing="1" class="form table_zaakinformatie">
    <tbody>
    <tr class="table_zaakinformatie_tr">
        <td class="td100">Naam Categorie:</td>
        <td class="td200"><input type="text" name="naam" value="[% categorie.naam %]" class="large" /></td>
        <td class="td200">
            <div class="validator rounded">
                <div class="validate-tip"></div>
                <div class="validate-content rounded-right">
                    <span></span>
                    Deze categorie bestaat helaas al.
                </div>
            </div>
            <div class="tooltip-test-wrap">
                <div class="tooltip-test rounded">
                    Typ hier de naam van de gewenste categorie</div>
                <div class="tooltip-test-tip"></div>
            </div>
        </td>
    </tr>
   </tbody>
</table>

<div class="form-actions">
    <input id="dialog-submit" type="submit" class="button button-primary" value="Aanmaken">
</div>

</form>
</div>
