[% RETURN IF c.user_exists -%]
        </div>
    </div>

[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>



<footer>
	<div class="logo">
		<a href="http://www.[% c.config.gemeente_id %].nl">
	        Zaakstad
	    </a>
	</div>
    <img src="/images/icon-facebook.svg" alt="Facebook" />
    <img src="/images/icon-twitter.svg" alt="Twitter" />
    <address>
    	<span>Donker curtiusstraat 7 - 521</span>
    	<span class="address-divider">&middot;</span>
    	<span>1051JL Amsterdam</span>
    	<span class="address-divider">&middot;</span>
    	<span>020 737 0005</span>
    	<span class="address-divider">&middot;</span>
    	<a href="mailto:info@zaakstad.nl">info@zaakstad.nl</a>
    </address>
</footer>





[% END %]



</body>
</html>