@import '../../../shared/styles/_variables.scss';

proposal-detail-view {
	display: block;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	width: 100%;

	.proposal-detail-view__body{
		display: flex;
		flex-direction: column;
		padding-top: 80px;
	}

	.proposal-detail-view__header {
		position: fixed;
		width: 100%;
		padding: 15px;
		background-size: cover;
		background-position: center;
		z-index: 5;

		.proposal-detail-view__header-background {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0;
			z-index: 0;
		}

		.proposal-detail-view__header-container {
			display: flex;
			position: relative;
			z-index: 1;
			width: 100%;
		}

		.proposal-detail-view__header-button {
			background: none;
			border: 0;
			color: white;
			font-size: 1.6em;
			width:36px;
			height:36px;
			line-height: 36px;
			border-radius:100%;
			display: flex;
			padding: 0 5px;
    		margin-right: 5px;

			&:hover {
				background:rgba(255,255,255,.15);
			}
		}

		zs-spinner{
			margin-left: auto;
		    display: flex;
			align-items: center;
			
			.spinner-google{
				border-right-color: #fff;
			    border-bottom-color: #fff;
			    border-left-color: #fff;
			}

		}

		.proposal-detail-view__header-title {
			font-size: 18px;
			color: white;
			display: flex;
			align-items:center;
			word-wrap: initial;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: -4px;
		}
	}

	.proposal-detail-view__list {
		margin-top: 0;
		padding: 80px 20px 60px 20px;
		transition: padding 0.15s ease-in-out;
	}

	.proposal-detail-view__item--resultmessage{
		background: $background-color;
		border-radius: 10px;
		padding: 15px;
		color: #999;
		margin-bottom: 25px;
		display: flex;
		align-items: center;

		zs-icon{
			font-size: 30px;
			margin-right: 15px;
		}
	}

	.proposal-detail-view__item{
		margin-bottom: 20px;
	}

	.proposal-detail-view__label{
		font-size:.9rem;
		color: #888;
		margin-bottom:3px;
	}

	.proposal-detail-view__value{
		color: #000;
		font-size:1.067rem;
		white-space: pre-wrap;

		&:first-letter{
			text-transform: capitalize;
		}

		p, ol, ul, li {
			font-family: "Roboto", sans-serif !important;
			font-size:1.067rem !important;
			font-weight: normal !important;
			color: #000 !important;
			line-height: 24.0075px !important;
		}

		p {
			margin-top: 2px;
		}

		ol, ul{
			margin-bottom: 15px;
			padding-left: 30px;
		}

		ol li{
			list-style-type: decimal;
		}

		ul li{
			list-style-type: disc;
		}
	}

	.proposal-detail-view__file{
		margin: 8px 0;
		background: #f2f2f2;
		padding:5px 8px;
		border-radius:2px;
		box-shadow:0 1px 3px rgba(0,0,0,0.35);
		display: flex;

		a{
			display: flex;
			align-items: center;

			zs-icon{
				margin-right:8px;
			}
		}

		.proposal-detail-view__value{
			vertical-align: middle;
			color: $primary-color;
			text-decoration: underline;

			&:hover{
				cursor: pointer;
			}
		}

		zs-icon{
			display: inline-block;
			font-size: 24px;
			vertical-align: middle;
		}
		
		button{
			background: none;
			border: none;
			margin-left:auto;

			&:focus{
				outline: 0;
			}

			zs-icon{
				color: #666;
				font-size: 20px;
			}
		}
	}

}

.preview-modal{
  z-index: 20;

  .zs-modal-content {
    position: relative;
  }
  
  .document-viewer-native {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

@media #{$large-only}{
	.proposal-detail-view__list{
		max-width:60rem;
	}
}
