[% USE date %]

<div class="betaling">
  <div class="block">

    <div class="block-header">
      <div class="block-header-inner">
        <h1 class="block-header-title">
          [% casetype_title | html_entity %]
          [% casetype_initiator FILTER ucfirst %]
          [% case_definition | html_entity %]
        </h1>
      </div>
    </div>
    <div id="content" class="block-content">
      [% PROCESS form/navigation.tt disabled = 1 %]


      <div class="stap-tekst stap-tekst-no-border">
        <h2 class="stap-titel">Betalen</h2>
      </div>
      <div class="row form">
        <div class="column large-7">
          <div class="table">
            <p class="subnote">Uw aanvraag is bij ons geregistreerd onder zaaknummer [% payment_case_id %]. U kunt uw aanvraag online betalen door gebruik te maken van iDEAL, VISA of Mastercard.</p>
            <div class="row">
              <div class="column large-5"><label class="titel">Zaaknummer</label></div>
              <div class="column large-7">[% payment_case_id %]</div>
            </div>
            <div class="row">
              <div class="column large-5"><label class="titel">Product of dienst</label></div>
              <div class="column large-7">[% casetype_title | html_entity %]</div>
            </div>
            <div class="row">
              <div class="column large-5"><label class="titel">Datum</label></div>
              <div class="column large-7">[% date.format(date.now, '%d-%m-%Y') %]</div>
            </div>
            <div class="row">
              <div class="column large-5"><label class="titel">Bedrag</label></div>
              <div class="column large-7">
                &euro;
                [% ogone_amount %]
              </div>
            </div>
          </div>
          <div class="prelogin-button">
            <form method="post" action="[% ogone.posturl | html_entity %]">
              [% FOREACH ogone_name IN ogone.variables.keys.sort %]
              [% ogone_value = ogone.variables.$ogone_name %]
              [% UNLESS ogone.$ogone_name %]
              [% NEXT %]
              [% END %]
              <input
                type="hidden"
                name="[% ogone_value | html_entity %]"
                value="[% ogone.$ogone_name | html_entity %]" />
              [% END %]

              <button type="submit" class="button button-primary button-mega button-id">Betalen</button>
            </form>
          </div>
          [% IF zaaktype.properties.offline_betaling %]
          <div class="prelogin-button">
            <form method="post" action="/zaak/handle_offline_payment">
              <button type="submit" class="button button-secondary">[% ogone.offline_payment_name | html_entity %]</button>
            </form>
          </div>
          [% END %]
        </div>

        <div class="column large-4 large-offset-1">
          <div class="prelogin-info clearfix">
            <div class="prepayment">
              <img src="/images/ogone/iDEAL.gif" alt="iDEAL" />
              <img src="/images/ogone/VISA.gif" alt="VISA" />
              <img src="/images/ogone/mastercard.gif" alt="Mastercard" />
              <p>U kunt betalen met iDEAL, VISA of Mastercard. iDEAL is een betaalmethode waarmee online aankopen snel en veilig afgerekend kunnen worden in de vertrouwde internetbankieromgeving van de eigen bank.</p>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div> 
