<div class="widget-tasks-iframe-wrapper">
  <zs-react-iframe
    iframe-src="zsDashboardWidgetTasksIframe.getStartUrl()"
    on-message="zsDashboardWidgetTasksIframe.onMessage(data)"
  ></zs-react-iframe>
  <div class="widget-drag-handle">
    <i class="mdi mdi-drag-vertical"></i>
  </div>
</div>
