<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
		    <div class="field-help">
		        [% PROCESS widgets/general/dropdown.tt
		            icon = 'icon-question-sign',
		            icon_type = 'icon-font-awesome',
		            dropdown_content="Deze setting wijzigt het e-mailsjabloon welke verzonden wordt bij het accepteren van een nieuwe gebruiker"
		        %]
		    </div>
			<label>Gebruikersacceptatie sjabloon</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<select name="[% parameter %]">
			    <option value=""[% IF !id %] selected="selected"[% END %]>Geen template (uitgeschakeld)</option>

			    [% FOREACH notificatie = notifications %]
				    <option value="[% notificatie.id %]"[% IF notificatie.id == value %] selected="selected"[% END %]>[% notificatie.label %]</option>
			    [% END %]
			</select>
		</div>
	</div>

</div>
