                
                <div class="block">
                <div class="block-header clearfix">
                    <div class="block-header-title">Zoekresultaten</div>
                </div>
				<div class="blockcontent">
                <table class="table_zaken_title no_margin table-closed">
                	<thead>
        [% IF betrokkene_type == 'bedrijf' %]
                    <tr>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'dossiernummer',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                })
                            %]"[% (c.req.params.order == 'dossiernummer' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>KVK:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'handelsnaam',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'handelsnaam' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Handelsnaam:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'vestiging_woonplaats',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'vestiging_woonplaats' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Vestigingsplaats:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'vestiging_postcode',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'vestiging_postcode' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Postcode:</a>
                        </th>
                        <th class="table_zaken_title_td30"><i class="icon-down icon"></i></th>
                    </tr>
        [% ELSIF betrokkene_type == 'natuurlijk_persoon' %]
                    <tr>
                        <th><i class="icon-down icon"></i></th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'voornamen',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'voornamen' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Voornamen:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'voorvoegsel',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'voorvoegsel' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Tussenvg:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'geslachtsnaam',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'geslachtsnaam' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Achternaam:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'geboortedatum',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'geboortedatum' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Geb.datum:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'straatnaam',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'straatnaam' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Straatnaam:</a>
                        </th>
                        <th>
                            <a href="[%
                                c.req.uri_with( {
                                    order        => 'huisnummer',
                                    order_direction   => (
                                        c.req.params.order_direction == 'ASC'
                                            ? 'DESC'
                                            : 'ASC'
                                        )
                                }) | html_entity
                            %]"[% (c.req.params.order == 'huisnummer' ? ' class="' _ c.req.params.order_direction _ ' sort"' : '') %]>Huisnr:</a>
                        </th>
                        <th class="table_zaken_title_td30"><i class="icon-down icon"></i></th>
                    </tr>
        [% ELSIF betrokkene_type == 'medewerker' %]
                    <tr>
                        <th>Voornamen</th>
                        <th>Achternaam</th>
                        <th>Organisatorische eenheid</th>
                        <th>Telefoonnummer</th>
                    </tr>
        [% END %]
                </thead>
                <tbody>
    [% WHILE (betrokkene = betrokkenen.next) %]
        [% IF betrokkene_type == 'bedrijf' %]
                    <tr class="select-row ezra_clickable_tr">
                        <td><a href="/main/contact-view/organization/[% betrokkene.uuid %]">[% betrokkene.dossiernummer %]</a></td>
                        <td>[% betrokkene.handelsnaam | html_entity %]</td>
                        <td>[% betrokkene.vestiging_woonplaats| html_entity  %]</td>
                        <td>[% betrokkene.vestiging_postcode| html_entity  %]</td>
                        <td>
                            [% IF betrokkene.authenticated %]
                                <i class="icon icon-betrokkene-gm"></i>
                            [% ELSE %]
                                <i class="icon icon-betrokkene-zs"></i>
                            [% END %]
                        </td>
                    </tr>
        [% ELSIF betrokkene_type == 'natuurlijk_persoon' %]
                    <tr class="select-row ezra_clickable_tr">
                        [% icon_geslachtsaanduiding = 'icon-man' %]
                        <td><a href="/main/contact-view/person/[% betrokkene.uuid %]" class="icon [% icon_geslachtsaanduiding %]"></a></td>
                        <td>[% betrokkene.voornamen | html_entity %]</td>
                        <td>[% betrokkene.voorvoegsel | html_entity %]</td>
                        <td>[% betrokkene.geslachtsnaam | html_entity %]</td>
                        <td>[% betrokkene.geboortedatum.dmy | html_entity %]</td>
                        <td>[% betrokkene.straatnaam | html_entity %]</td>
                        <td>[% betrokkene.huisnummer | html_entity %]
                            [% (betrokkene.huisletter ? betrokkene.huisletter : '') | html_entity %]
                            [% (betrokkene.huisnummertoevoeging ? ' - ' _ betrokkene.huisnummertoevoeging : '') | html_entity %]</td>
                        <td>
                            [% IF betrokkene.authenticated %]
                                <i class="icon icon-betrokkene-gm"></i>
                            [% ELSE %]
                                <i class="icon icon-betrokkene-zs"></i>
                            [% END %]
                        </td>
                    </tr>
        [% ELSIF betrokkene_type == 'medewerker' %]
                    <tr class="select-row ezra_clickable_tr">
                        <td><a href="/main/contact-view/employee/[% betrokkene.uuid %]">[% betrokkene.voornamen | html_entity %]</a></td>
                        <td>[% betrokkene.geslachtsnaam | html_entity %]</td>
                        <td>[% betrokkene.org_eenheid.name | html_entity %]</td>
                        <td>[% betrokkene.telefoonnummer | html_entity %]</td>
                    </tr>


        [% END %]
    [% END %]
    			</tbody>
                </table>
                

                <!-- End Zoekresultaten -->
        

                <div class="div_result">
                    [% PROCESS widgets/pager.tt %]
                </div>


                </div>
                </div>
                </div>

