// status icons

.mdi.icon-status{
    font-size:1.5rem;
    vertical-align: middle;
    display: flex;
    margin: auto;
    width: 22px;
}

.icon-status-open:before{
    content: mdi('play-circle');
    color:$blue;
}

.icon-status-new:before{
    content: mdi('star-circle');
    color:$yellow;
}

.icon-status-resolved:before{
    content: mdi('checkbox-marked-circle');
    color:darken($accent-color,5%);
}

.icon-status-stalled:before{
    content: mdi('pause-circle');
    color:$grey;
}

.icon-status-overdragen:before{
    content: mdi('arrow-right-bold-circle');
    color:$light-blue;
}

.icon-status-deleted:before{
    content: mdi('close-circle');
    color:$red;
}