@import "../partials/dependencies";

$template-basic:true;

$body-bg:#F5F3F0;

$logo-url: "../../form/zeeland/img/zeeland.svg";
$logo-width:178px;
$logo-height:55px;
$logo-margin:16px 0 0 15px;
$logo-bg-size:cover;
$header-height:122px;
$header-padding:22px 4px 0;
$header-bg:#fff;

$primary-color:#C2004B;
$secondary-color:#3D4853;
$tertiary-color:#5c5b5b;
$button-id-bg-color: #3D4853;

$button-primary-bg:#5C748D;
$button-primary-color:white;
$button-primary-bg-hover:#3D4853;
$button-in-title-color:white;
$border-radius:1px;
$button-radius:5px;

$anchor-color:$primary-color;
$anchor-color-hover:#004e86;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:none;
$font-family: Arial, Helvetica, sans-serif;
$font-size:100%;
$template-width:960px;

$container-border:none;

$form-navigation-margin:0 0 1em;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$primary-color;
$pip-nav-border-color-active:darken($primary-color,55%);
$pip-nav-anchor-color:#fff;
$pip-nav-anchor-color-active:#fff;
$pip-nav-bg-active:rgba(255,255,255,.2);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.1);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:2px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:#fff;
$title-bg-color:$primary-color;
$title-font-size:1.75rem;
$title-font-weight:400;
$title-padding-top:1.25em;
$title-padding-bottom:1.25em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:#3d4853;
$heading1-fontsize: 2em;
$heading1-weight:700;
$heading1-font-family: Arial, Helvetica, sans-serif;

$heading2-color:#3d4853;
$heading2-fontsize:1.5em;
$heading2-weight:700;
$heading2-font-family: Arial, Helvetica, sans-serif;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-media-queries";
@import "button-reset";

body, .pip a, .pip-overview-introduction {
    color: #3d4853;
}

.pip-case-progress .pip-case-progress-bar {
  background: #a2b1c0;
}

.pip-case-progress .pip-case-progress-percentages, .pip-case-progress .pip-case-progress-stalled .pip-case-progress-percentages {
  background: #5C748D;
}

.button-primary, .button-secondary {
  border-radius: 0px!important;
}

.pip-nav{
	ul li.current a{
		border-bottom:2px solid $pip-nav-border-color-active;
		margin-bottom:-2px;
	}
}

.pip-case-form-phase-title{
	font-weight: normal;
}

.pip-nav ul li.current a {
    border-bottom: 2px solid #9b013d!important;
}


.pip-case-form-phase-title, .pip-case-form-phase-title.pip-case-form-phase-current {
  background: #5C748D;
  border-color: #5C748D;
}


.pip-case-form-phase-title.pip-case-form-phase-current:hover,
.pip-case-form-phase-title.pip-case-form-phase-active:hover {
  background: #3D4853!important;
}


.material-text-button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 11px;
  line-height: 1.75;
  border-radius: 0px;
  background: #5c748d;
  font-family: arial;
}


.material-text-button:hover {
  background-color: #3D4853!important;
}
