[% BLOCK select_import %]
                <tr>
                    <td class="td250">
                        <strong>Selecteer een import bestand:</strong>
                    </td>
                    <td>
                        <strong style="color:red;">[% dependency_error %]</strong>
                        [% PROCESS widgets/general/mintloader.tt 
                            veldoptie_name = 'import_file'
                            send_to_upload = 1
                        %]
                    </td>
                </tr>
                <tr>
                    <td class="td250">
                        <strong>Selecteer een import methode:</strong>
                    </td>
                    <td>
                        <select name="import_definition">
                        [% FOREACH def IN import_definitions %]
                            <option
                            value="[% def.file_basename %]"
                            >
                                [% def.import_type | upper %]:
                                [% def.import_name | ucfirst %]
                                ([% def.record_type %])
                            </option>
                        [% END %]
                        </select>
                    </td>
                    <td>
                        <div class="validator rounded invalid" [% IF error %]style="display:block;"[% END %]>
                        <div class="validate-tip"></div> <div class="validate-content rounded-right"><span></span>[% error %]</div>
                        </div>
                    </td>
                </tr>
[% END %]

<div class="block clearfix import">
    <p class="header">Gegevens importeren</p>
    <div class="blockcontent">
        <form enctype="multipart/form-data" method="post" action="[% c.uri_for('/beheer/import/manual') %]">
            <table class="marginbottom">
                <tr>
                    <td class="td250">
                        <strong style="color:red;">LET OP: Dit is een
                        EXPERIMENTELE feature, absoluut niet gebruiken zonder
                        toestemming van zaaksysteem.nl.<br /><br />
                        Deze import werkt op dit moment enkel voor KVK
                        gegevens.
                        </strong>
                    </td>
                </tr>
            [% IF succes %]
                <tr>
                    <td class="td250">
                        Bestand is succesvol verwerkt, entries geladen: [% entries %]
                    </td>
                </tr>
            [% ELSE %]
                [% PROCESS select_import %]
            [% END %]
            </table>
            [% UNLESS succes %]
             <input type="submit" class="button button-primary right" value="Volgende"/>
            [% END %]
        </form>
    </div>
</div>
