vorm-custom-object-suggest-display > div{
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	span:first-child {
		flex-grow: 1;
	}
	a,button {
		margin-left: 5px;
		margin-bottom: 2px;
		border: none;
		padding: 0;
		color: #ccc;
		transition: background 0.05s ease-in-out;
		&:hover{
			color: #000;
			background: transparent;
		}
		zs-icon{
			font-size:1.2rem;
		}
	}
}

vorm-custom-object-suggest-display > .display-wrapper-full{
	width: 100%;
}

.create-custom-object-button{
	margin-top: 10px;
}
// onderstaande  hack vervangen met iets constructievers

vorm-custom-object-suggest-display,
.zs-modal vorm-custom-object-suggest-display,
.file-list-item,
.object-list-item,
vorm-map-display,
.zs-modal vorm-file-display {
	+ .vorm-clear{
		display: block;
		right:10px;
	}
}
