.notitie{
    p{
        margin-bottom:5px;
    }
    button{
        display: block;
        margin-left: 0;
        &[disabled="disabled"]{
            opacity: 0.5;
            filter: alpha(opacity = 30);
            cursor: default;
            pointer-events:none;
        }
    }
    textarea{
        font-size: 1.077em;
        display: block;
        margin-bottom:5px;
    }
    input[type=text],
    textarea{
        width: 100%;
        min-height: 18px;
    }
    .spot-enlighter-wrapper{
        flex-grow:1;
        width:auto;
        input[type=text]{
            padding:5px 5px 5px 30px;
        }
        @media #{$small-and-down}{
            width:100%;   
            margin-bottom:8px;
        }
    }
}

.timeline-form-contactmoment-actions{
    display: flex;
    align-items: center;
    .btn{
        line-height: 2.1rem;
        height:2.1rem;
        @media #{$small-and-down}{
            margin-left:auto;
        }
    }
    @media #{$small-and-down}{
        flex-direction: column;
        align-items: flex-start;
    }
}

.notitie-type{
    a{
        display: inline-block;
        padding: 0 12px 12px;
        position: relative;
        font-weight: 400;
        text-decoration: none;
        color: #999;
        border-bottom:3px solid #fff;
        font-size:14px;
        &:hover{
            color: #000;
            text-decoration: underline;
        }
        &.active{
            border-color:$primary-color;
            color:$primary-color;
            margin-bottom: -1px;
            padding-bottom:13px;
        }
    }
}

.timeline-form-contactmoment-contactchannel{
    margin-right:8px;
    margin-left:8px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    select{
        flex-grow:1;
        font-size: .933rem;
    }
    @media #{$small-and-down}{
        margin:0 0 8px;
        width:100%;
    }
}

.contactmoment-form-via {
    margin-right:4px;
}

.contactchannel-select-wrapper{
    display: inline-block;
}