.case-actions .inner{
    padding: 0;
}

.case-action{
    position: relative;
    padding: 12px 12px 12px 86px;
    display: block;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    span{
        color: #888;
    }
    button[data-ng-show="action.tainted"]{
        font-size:1.4em;
        background-color:transparent;
        position:absolute;
        right:15px;
        top:50%;
        margin-top:-8px;
        @include opacity(.4);
        &:hover{
            cursor: pointer;
            @include opacity(1);
        }
    }
    &.case-action-tainted .case-action-info{
        padding-right:25px;
    }
}

.case-action-icon{
    position: absolute;
    left: 42px;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top:-16px;
    &.mdi{
        font-size:2em;
    }
}

.case-action-state{
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8px;
}



.case-action-label{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 3px;
}

/* @end */