<html>
<body>
    <object>
    <embed 
       src="https://globespotter.cyclomedia.com/v26/api/viewer_api.swf"
       width="800" 
       height="400" 
       type="application/x-shockwave-flash" 
       allowScriptAccess = "always",
       flashvars="&APIKey=m3QROTINuvw5mTcZaf4JyDMN2zol63EVGj4RqfwtyP0JOvg9GbQJCT85mzshGLYt&SRSNameViewer=EPSG:28992&SRSNameAddress=EPSG:28992&AddressLanguageCode=nl&amp;imageID=[% recording_id %]&amp;yaw=[% yaw %]&amp;TID=[% tid %]">
    </embed>
    </object>

</body>
</html>

<!--
3732XH2&amp;[% postcode %][% huisnummer %]

&APIKey=SnUhCDkd2L4F6jQtu3olyrYJGzAtGnkpCjMdiv0dyLcl-3Ix2DgZeXQF6_w5KLEZ&SRSNameViewer=EPSG:28992&SRSNameAddress=EPSG:28992&AddressLanguageCode=nl&address=5611AL 4
-->